<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Buscar sitio web</title>
</head>
<body>
	<h2>Busca un sitio web</h2>
	<form method="POST" action="{{url_for('searchPage')}}">
		<label>URL:</label>
		<input type="text" name="url" required>
		<br><input type="submit" value="Buscar">
	</form>
	{% if context.request %}
		<h1>Resultado:</h1>
		{% autoescape off %}
			{{context.request}}
		{% endautoescape %}
	{% endif %}
</body>
</html>